<%- include('./Client/layout/header.ejs') %>


  </Header>
  <!-- End Header -->

  <section class="pt-5 pb-5 mt-3 mb-3">
    <div class="container">

      <h2 class="text-center mb-4 text-danger" style="font-size: 50px;">Page Not Found</h2>

      <div class="error-box d-flex align-items-center justify-content-center">
        <img src="https://dungchinh.onrender.com/congkhai/pageClient/fe/images/404-error-page-3959261-3299960.gif" alt="" width="50%" height="auto"
          style="object-fit: cover;">
      </div>

    </div>
  </section>

  <%- include('./Client/layout/footer.ejs') %>